*.env
venv
.terraform
*.tfvars
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
*.csv
*.pyc
*__pycache__
__pycache__
.pytest_cache
.coverage
*.ipynb
*.html
.DS_Store
*.pdf
t*.png
