astroid
beautifulsoup4
boto3
botocore
bs4
certifi
charset-normalizer
dill
docopt
html5lib
idna
iniconfig
isort
jmespath
lazy-object-proxy
mccabe
numpy
packaging
pandas
boto3
streamlit
platformdirs
pluggy
psycopg2
psycopg2-binary
pylint
pytest
python-dateutil
python-dotenv
pytz
PyXB-X
requests
s3transfer
six
soupsieve
stomp.py
tomlkit
tzdata
urllib3
webencodings
websocket-client
wrapt
